<section class="divide-y divide-neutral-700">
  <% if node.recipes.any? %>
    <div class="py-3.5 px-4 bg-neutral-950">
      <h2 class="font-semibold">Recipes</h2>
      <p class="text-sm text-neutral-100">Lorem Ipsum about nodes.</p>
    </div>
    <ul role="list" class="divide-y divide-neutral-800 overflow-hidden bg-neutral-900 shadow-sm ring-1 ring-neutral-900/5">
      <% node.recipes.each do |recipe| %>
        <li class="relative flex justify-between gap-x-6 px-4 py-3.5 hover:bg-neutral-800">
          <div class="flex min-w-0 gap-x-4">
            <div class="min-w-0 flex-auto">
              <%= link_to [ location, node, recipe ] do %>
                <span class="absolute inset-x-0 -top-px bottom-0"></span>
                <span class="text-sm/6 font-semibold">
                  <%= recipe.name %>
                </span>
              <% end %>
              <p class="mt flex text-xs/5 text-neutral-200">
                <%= recipe.id %>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% elsif node.drops.any? %>
    <div class="divide-y divide-neutral-600">
      <div class="py-3.5 px-4 bg-neutral-950">
        <h2 class="font-semibold">Drops</h2>
        <p class="text-sm text-neutral-100">The items dropped from the action.</p>
      </div>
      <ul role="list" class="divide-y divide-neutral-800 overflow-hidden bg-neutral-900 shadow-sm ring-1 ring-neutral-900/5">
        <% node.drops.each do |drop| %>
          <li class="relative flex justify-between gap-x-6 px-4 py-3.5 hover:bg-neutral-800">
            <div class="flex min-w-0 gap-x-4">
              <div class="min-w-0 flex-auto">
                <p class="text-sm/6 font-semibold">
                  <%= drop.item.name %>
                </p>
                <p class="mt flex text-xs/5 text-neutral-200">
                  <% if drop.minimum_quantity == drop.maximum_quantity %>
                    <%= drop.minimum_quantity %>
                  <% else %>
                    <%= drop.minimum_quantity %>-<%= drop.maximum_quantity %>
                  <% end %>
                </p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <%= form_with(model: Action.new, scope: "node_action") do |form| %>
      <%= form.hidden_field :location_id, value: location.id %>
      <%= form.hidden_field :node_id, value: node.id %>
      <%= form.submit "Start action" %>
    <% end %>
  <% else %>
    <p>
      Nothing here.
    </p>
  <% end %>
</section>