<%= turbo_frame_tag :equipment do %>
  <div class="bg-neutral-900 border-y sm:border border-neutral-600 divide-y divide-neutral-600 overflow-hidden sm:rounded-md shadow-md">
    <div class="p-4 flex gap-2 items-center">
      <%= image_tag("icons/equipment.png", height: 32, width: 32, class: "pixelized") %>
      <h2 class="font-bold">Equipment</h2>
    </div>
    <div>
      <% equipped_items = equipment.all %>
      <div class="p-4 grid grid-cols-[64px_256px_64px] gap-2 justify-center">
        <div class="flex flex-col gap-2">
          <% item = Item.find("copper_sword") %>
          <% slot = "head" %>
          <% ["head", "neck", "shoulders", "back", "chest", "wrist"].map do |slot| %>
            <% item = equipped_items[slot] %>
            <%= link_to new_equipment_path(slot: slot), data: { turbo: false, controller: item.present? ? "popover" : nil, popover_target: "activator" }.compact, class: "block bg-neutral-950 divide-y divide-neutral-600 border border-neutral-600 rounded-md shadow-xs select-none size-16" do %>
              <% if item %>
                <template data-popover-target="template">
                  <%= item.name %>
                </template>
                <div class="w-full flex justify-center">
                  <%= image_tag(item.image_path, width: 64, height: 64, class: "pixelized pointer-events-none") %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="w-full h-full flex items-center justify-center bg-neutral-950 divide-y divide-neutral-600 border border-neutral-600 rounded-md shadow-xs select-none">
          <%= image_tag("character.png", width: 256, height: 256, class: "p-8 pixelized pointer-events-none") %>
        </div>
        <div class="flex flex-col gap-2">
          <% ["hands", "waist", "legs", "feet", "finger_one", "finger_two"].map do |slot| %>
            <% item = equipped_items[slot] %>
            <%= link_to new_equipment_path(slot: slot), data: { turbo: false, controller: item.present? ? "popover" : nil, popover_target: "activator" }.compact, class: "block bg-neutral-950 divide-y divide-neutral-600 border border-neutral-600 rounded-md shadow-xs select-none size-16" do %>
              <% if item %>
                <template data-popover-target="template">
                  <%= item.name %>
                </template>
                <div class="w-full flex justify-center">
                  <%= image_tag(item.image_path, width: 64, height: 64, class: "pixelized pointer-events-none") %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="px-4 pb-4 w-full flex justify-center gap-2">
        <% ["main_hand", "off_hand"].map do |slot| %>
          <%= link_to new_equipment_path(slot: slot), data: { turbo: false, controller: "popover", popover_target: "activator" }, class: "block bg-neutral-950 divide-y divide-neutral-600 border border-neutral-600 rounded-md shadow-xs select-none size-16" do %>
            <% if (item = equipped_items[slot])%>
              <template data-popover-target="template">
                <%= item.name %>
              </template>
              <div class="w-full flex justify-center">
                <%= image_tag(item.image_path, width: 64, height: 64, class: "pixelized pointer-events-none") %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
