<%= turbo_frame_tag :equipment do %>
  <div class="divide-y divide-neutral-700 overflow-hidden rounded-lg bg-neutral-900 shadow">
    <div class="px-4 py-5 sm:px-6">
      <h2>Equipment</h2>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <ul class="list-disc list-inside">
        <% equipment.all.each do |slot, item| %>
          <% if item %>
            <li><%= slot %>: <%= item.name %> <%= button_to "unequip", equipment_path, params: { slot: slot }, method: :delete, form_class: "inline-block", class: "cursor-pointer font-medium text-red-600 dark:text-red-500 hover:underline" %></li>
          <% else %>
            <li><%= slot %>: <%= link_to "equip item", new_equipment_path(slot: slot), data: { turbo: false }, class: "cursor-pointer italic text-neutral-600 dark:text-neutral-500 hover:underline" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
