<%= turbo_stream_from action %>

<%= turbo_frame_tag action do %>
  <ul class="my-2 list-disc list-inside">
    <li><strong>Location:</strong> <%= action.location.name %></li>
    <li><strong>Node:</strong> <%= action.node.name %></li>
    <li><strong>Drops:</strong>
      <ul class="pl-4 list-disc list-inside">
        <% action.drops.each do |item, quantity| %>
          <li><%= item.name %>: <%= quantity %></li>
        <% end %>
      </ul>
    </li>
  </ul>
<% end %>
