<% content_for :title, "Change password" %>

<% content_for :content do %>
  <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="text-2xl/8 font-bold text-zinc-950 sm:text-xl/8 dark:text-white mt-6 text-center leading-9 tracking-tight">Change your password</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
      <div class="grow p-6 lg:rounded-lg lg:bg-white lg:p-10 lg:shadow-sm lg:ring-1 lg:ring-zinc-950/5 dark:lg:bg-zinc-900 dark:lg:ring-white/10">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: { turbo: false }, html: { method: :put, class: "space-y-6"}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div>
            <%= f.label :password, class: "mb-2 flex-1" %>
            <%= f.password_field :password, class: "mb-2", autocomplete: "new-password", required: true %>
          </div>

          <div>
            <%= f.label :password_confirmation, class: "mb-2 flex-1" %>
            <%= f.password_field :password_confirmation, class: "mb-2", autocomplete: "new-password", required: true %>
          </div>

          <div>
            <%= f.submit "Change password", class: "flex w-full justify-center" %>
          </div>
        <% end %>
      </div>

      <p class="mt-10 text-center text-sm text-gray-500">
        Have an account already?
        <%= link_to "Login", new_session_path(resource_name), class: "font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %>
      </p>
    </div>
  </div>
<% end %>