<div class="my-4 md:m-4">
  <%= render "map/map", character: @character %>
</div>

<div class="my-4 md:m-4 grid md:grid-cols-2 gap-2">
  <%= render @location %>
  <%= turbo_frame_tag :node do %>
    <div class="bg-neutral-900 border-y sm:border border-neutral-600 divide-y divide-neutral-600 overflow-hidden sm:rounded-md shadow-md">
      <div class="p-2 flex gap-2 items-center">
        <%= image_tag("icons/map.png", height: 32, width: 32, class: "pixelized") %>
        <h2 class="font-bold">Node</h2>
      </div>

      <p class="text-center text-sm text-neutral-200 my-4">
        Nothing here
      </p>
    </div>
  <% end %>
</div>

<div class="my-4 md:m-4 grid md:grid-cols-2 gap-2">
  <%= render @equipment %>
  <%= render @inventory %>
</div>
