<div class="my-8 md:m-4">
  <%= render "map/map" %>
</div>

<div class="my-8 md:m-4 grid md:grid-cols-2 gap-2">
  <%= turbo_frame_tag :chat do %>
    <% if @location.present? %>
      <%= turbo_stream_from [ @location, :messages ] %>
      <div class="bg-neutral-900 border-y sm:border border-neutral-600 divide-y divide-neutral-600 overflow-hidden sm:rounded-md shadow-md">
        <div class="p-4 flex gap-2 items-center">
          <%= image_tag("icons/map.png", height: 32, width: 32, class: "pixelized") %>
          <h2 class="font-bold">Chat</h2>
        </div>
        <div class="h-64 overflow-scroll flex flex-col-reverse"><section id="messages" class="pb-4 px-4 flex flex-col justify-end"></section></div>
        <section>
          <%= turbo_frame_tag(:chatbox) { render "messages/form", message: Message.new } %>
        </section>
      </div>
    <% else %>
    <% end %>
  <% end %>
  <%= turbo_frame_tag :action do %>
    <% if @action %>
      <%= turbo_stream_from @action %>
      <%= render @action %>
      <% if @action.active? %>
        <%= button_to "Stop action", @action, method: :delete, form_class: "p-4 w-full", class: "w-full mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer" %>
      <% end %>
    <% else %>
      <%= render "actions/empty_action" %>
    <% end %>
  <% end %>
</div>

<div class="my-4 md:m-4 grid md:grid-cols-2 gap-2">
  <%= render @equipment %>
  <%= render @inventory %>
</div>
