<%= turbo_frame_tag @character do %>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= character.name %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Locations:</strong>
    <ul class="my-2">
      <% Location.all.each do |location| %>
        <li>
          <% if location == character.location %>
            <%= location.name %> <strong>(you are here)</strong>
          <% else %>
            <%= button_to location.name, character, params: { character: { location_id: location.id } }, class: "cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render character.equipment %>
  <div>
    <strong class="block font-medium mb-1">Inventory:</strong>
    <ul class="my-2">
      <% character.inventory.items.each do |item, quantity| %>
        <li><%= item.name %>, <%= quantity %></li>
      <% end %>
    </ul>
  </div>
<% end %>
