<%= turbo_frame_tag character do %>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= character.name %>... online: <%= character.online? %> (<%= button_to "switch", character, params: { character: { online: !character.online? } }, form_class: "inline-block", class: "cursor-pointer italic text-gray-600 dark:text-blue-500 hover:underline" %>)
  </div>

  <div class="my-2 grid grid-cols-2 gap-2">
    <%= render "map/map", character: character %>
    <div class="flex flex-col gap-2">
      <%= render "map/nodes", character: character %>
      <% action = ActionManager.active_for(character) %>
      <% if action.present? %>
        <%= turbo_stream_from action %>
        <%= render action %>
        <%= button_to "Stop action", character_action_path(character), method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer" %>
      <% end %>
    </div>
  </div>
  <div class="my-2">
    <%= render character.equipment %>
  </div>
  <div class="my-2">
    <%= render character.inventory %>
  </div>
<% end %>
