<%= turbo_frame_tag @character do %>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= character.name %>... online: <%= character.online? %> (<%= button_to "switch", character, params: { character: { online: !character.online? } }, form_class: "inline-block", class: "cursor-pointer italic text-gray-600 dark:text-blue-500 hover:underline" %>)
  </div>

  <div class="my-2 grid grid-cols-2 gap-2">
    <%= render "map/map", character: character %>
    <%= render "map/nodes", character: character %>
  </div>
  <div class="my-2">
    <%= render character.equipment %>
  </div>
  <div class="my-2">
    <%= render character.inventory %>
  </div>
<% end %>
