<%= turbo_frame_tag :map do %>
  <div class="bg-neutral-900 border-y sm:border border-neutral-600 divide-y divide-neutral-600 overflow-hidden sm:rounded-md shadow-md">
    <div class="p-4 flex gap-2 items-center">
      <%= image_tag("icons/map.png", height: 32, width: 32, class: "pixelized") %>
      <h2 class="font-bold">Map</h2>
    </div>
    <section class="w-full relative flex justify-between gap-x-6 px-4 py-3.5 hover:bg-neutral-800">
      <% location = Location.find("vaelthorn") %>
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <%= link_to location, data: { turbo_frame: "location" } do %>
            <span class="absolute inset-x-0 -top-px bottom-0"></span>
            <span class="text-sm/6 font-semibold">
              <%= location.name %>
            </span>
          <% end %>
          <p class="mt flex text-xs/5 text-neutral-200">
            <%= location.type %>
          </p>
        </div>
      </div>
    </section>
    <div class="grid grid-cols-3 grow divide-x divide-neutral-600">
      <section class="divide-y divide-neutral-600">
        <div class="py-3.5 px-4">
          <h2 class="font-semibold">Thul'Kaar</h2>
          <p class="text-sm text-neutral-100">Orc fortresses, villages and outskirts</p>
        </div>
        
        <ul role="list" class="divide-y divide-neutral-800 overflow-hidden bg-neutral-900 shadow-sm ring-1 ring-neutral-900/5">
          <% Location.where(race: "orc").each do |location| %>
            <li class="relative flex justify-between gap-x-6 px-4 py-3.5 hover:bg-neutral-800">
              <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                  <%= link_to location, data: { turbo_frame: "location" } do %>
                    <span class="absolute inset-x-0 -top-px bottom-0"></span>
                    <span class="text-sm/6 font-semibold">
                      <%= location.name %>
                    </span>
                  <% end %>
                  <p class="mt flex text-xs/5 text-neutral-200">
                    <%= location.type %>
                  </p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </section>
      <section class="divide-y divide-neutral-600">
        <div class="py-3.5 px-4">
          <h2 class="font-semibold">Syl'Anora</h2>
          <p class="text-sm text-neutral-100">Elf fortresses, villages and outskirts</p>
        </div>
        
        <ul role="list" class="divide-y divide-neutral-800 overflow-hidden bg-neutral-900 shadow-sm ring-1 ring-neutral-900/5">
          <% Location.where(race: "elf").each do |location| %>
            <li class="relative flex justify-between gap-x-6 px-4 py-3.5 hover:bg-neutral-800">
              <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                  <%= link_to location, data: { turbo_frame: "location" } do %>
                    <span class="absolute inset-x-0 -top-px bottom-0"></span>
                    <span class="text-sm/6 font-semibold">
                      <%= location.name %>
                    </span>
                  <% end %>
                  <p class="mt flex text-xs/5 text-neutral-200">
                    <%= location.type %>
                  </p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </section>
      <section class="divide-y divide-neutral-600">
        <div class="py-3.5 px-4">
          <h2 class="font-semibold">Aldorwyn</h2>
          <p class="text-sm text-neutral-100">Human fortresses, villages and outskirts</p>
        </div>
        
        <ul role="list" class="divide-y divide-neutral-800 overflow-hidden bg-neutral-900 shadow-sm ring-1 ring-neutral-900/5">
          <% Location.where(race: "human").each do |location| %>
            <li class="relative flex justify-between gap-x-6 px-4 py-3.5 hover:bg-neutral-800">
              <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                  <%= link_to location, data: { turbo_frame: "location" } do %>
                    <span class="absolute inset-x-0 -top-px bottom-0"></span>
                    <span class="text-sm/6 font-semibold">
                      <%= location.name %>
                    </span>
                  <% end %>
                  <p class="mt flex text-xs/5 text-neutral-200">
                    <%= location.type %>
                  </p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </section>
    </div>
  </div>
<% end %>

