<!DOCTYPE html>
<html class="antialiased bg-zinc-900 dark:text-white scheme-dark">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= content_for(:title) %> | PixelForge
      <% else %>
      PixelForge
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://ga.jspm.io/npm:tippy.js@6.3.7/dist/tippy.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div aria-live="assertive" class="z-10 pointer-events-none fixed inset-0 flex items-end px-4 py-6">
      <%= turbo_frame_tag :flashes, class: "flex w-full flex-col items-center space-y-4" do %>
        <%= render "layouts/flash" %>
      <% end %>
    </div>
    <%= turbo_frame_tag :modal %>

    <% if content_for?(:content) %>
      <%= yield :content %>
    <% else %>
      <main class="relative isolate min-h-svh w-full bg-zinc-950">
        <%= render current_user %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, form_class: "inline-flex", class: "cursor-pointer font-medium text-red-600 dark:text-red-500 hover:underline" %>

        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
